h2,
h3,
h4 {
  margin: 0;
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.cv header {
  text-align: center;
}

.cv header h2 {
  font-size: 2.5rem;
}

.cv header .contact-info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cv header .contact-info > .border-left {
  border-left: 1px solid #000;
  padding-left: 10px;
}

.cv section h3 {
  text-transform: uppercase;
  border-bottom: 2px solid #000;
}

.cv-section-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cv-section-detail div {
  display: flex;
  justify-content: space-between;
}
