@font-face {
  font-family: "URW DIN Cond W05 Medium Regular";
  src: url("../assets/fonts/fontsfree-net-4792716d-7428-453b-b5fb-ebdea9ad3a29-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/fontsfree-net-4792716d-7428-453b-b5fb-ebdea9ad3a29-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "URW DIN W05 Medium Regular";
  src: url("../assets/fonts/fontsfree-net-5a988402-0fa0-49d9-94db-59685a4c6404-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/fontsfree-net-5a988402-0fa0-49d9-94db-59685a4c6404-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "URW DIN W05 Medium Regular", Arial, sans-serif;
  background-color: #0e1624;
  color: #ffffff;
}

button {
  cursor: pointer;
  font-family: "URW DIN Cond W05 Medium Regular", Arial, sans-serif;
  text-transform: uppercase;
}

input,
select {
  font-family: inherit;
}
